@mixin buttonFormat {
    color: white;
    width: 100%;
    border: none;
    transition: .3s ease-in-out;
    &:hover {
        background-color: #ffc400;
    }
}

.btn-success {
    background-color: darkorange;
    padding: 12px;
}

button {
    @include buttonFormat();
}