.banner {
    height: 500px;
    background-image: url("https://picsum.photos/2000/600");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.caption-custom {
    color: white;
    translate: 0 30px;
    filter: drop-shadow(0px 0px 3px black);
}

.reviews {
    padding: 24px 0;
}

.podcast {
    padding: 24px 0;
    background-color: #141414;
    color: white;
}

.podcast .card {
    background-color: #141414;
}