@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import 'navbar.scss';
@import 'buttons.scss';
@import 'areas.scss';
@import 'reviews.scss';

* {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

strong {
    color: #eea044;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: #eea044;
    }
}

.banner {
    .container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: flex-end;
        align-items: flex-end;
        height: 500px;
        padding-top: 24px;
        padding-bottom: 24px;
        .titulo-banner {
            h4 {
                color: #eea044;
                font-size: 1.7rem;
                margin-bottom: 0;
                font-weight: 900;
                transition: .3s ease-in-out;
                cursor: pointer;
                span {
                    border-radius: 10px;
                    padding: 10px;
                    background-color: black;
                }
                &:hover {
                    transform: scale(1.05);
                    color: white;
                }
            }
        }
        .txt-banner {
            p {
                font-size: 2rem;
                font-weight: 700;
                span {
                    padding: 10px;
                    background-color: white
                }
            }
        }
        button {
            text-align: right;
            width: 50%;
        }
    }
    background-image: url("imgs/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: 0 -200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer {
    font-size: .75rem;
    text-align: center;
}

@media (max-width: 767px) {
    .row {
        gap: 20px;
    }
    .banner {
        background-position: -200px -200px;
        .container {
            align-items: center;
            p {
                text-align: center;
            }
            .txt-banner {
                p {
                    font-size: 1rem;
                }
            }
            
        }
    }
}