@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}

li, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: #edf0f1;
    background-color: #24252A;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #edf0f1;
}

body {
    background-color: #e7e7e7;
}

.header {
    width: 100%;
    background-color:#24252A;
    position: fixed;
    z-index: 3;
}

.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.logo {
    max-height: 37px;
    cursor: pointer;
    margin-right: auto;
}

.navmenu {
    list-style: none;
}

.navmenu li {
    display: inline-block;
    padding: 0 20px;
}

.navmenu li a {
    transition: all 0.3s ease 0s;
}

.navmenu li a:hover {
    transition: all 0.3s ease 0s;
    color: #ef7823;
}

button {
    margin-left: 30px;
    padding: 9px 25px;
    background-color: #ef7823;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ef7823d9;
    transition: all 0.3s ease 0s;

}

.banner {
    background-image: url('https://picsum.photos/1920/300');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 380px;

}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.cardPrincipal {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 90px;
    max-width: 1400px;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
}

.borda1 {
    width: 3px;
    height: 80px;
    background-color: #ef7823;
}

.card {
    display: flex;
    align-content: center;
    padding: 20px;
    margin-right: auto;
}

.textosCard {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto1 {
    font-size: 1.1rem;
    font-weight: 500;
}

.texto2 {
    font-size: .8rem;
}

.linkCard {
    color: #ef7823;
}

.linkCard:hover {
    color: #f0400b;
}

.ofertas {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding-left: 20px;
}

.produtos {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.produtos::before{
    border-left: 1px solid #a1a1a1; 
}

.boxProduto {
    display: flex;
    flex-flow: column;
    flex-basis: 320px;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.boxProduto:hover {
    box-shadow: 0px 2px 10px #39393955;
    transform: scale(103%);
}

.foto {
    width: 100%;
    max-height: 270px;
    border: 1px solid #a1a1a1;
}

.preco {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2rem;
    margin: 15px 0 10px 0;
}

.titulo {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.compre {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    border:none;
    border-radius: 50px;
    padding: 20px;
    background-color: #24252A;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.compre:hover {
    background-color: #ef7823;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #24252A;
}

.whats {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: .2s ease-in-out;
}

.whats:hover {
    transform: scale(110%);
    filter: brightness(1.1);
}