@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

html {
    font-family: 'Roboto', sans-serif;

}

body {
    background-image: url("https://carlosestefan.com/ctd/microondas/imgs/explosion.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: block;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    line-height: 2rem;
    color: #ffffff;
    text-align: top center;
    text-shadow: 2px 2px #000000    ;
}

button {
    display: block;
    margin: auto;
    padding: 1rem 4rem;
    margin-top: 2rem;

    font-family: 'Teko';
    font-size: 3rem;
    font-weight: 900;
    
    background-color: #fff;
    border: 0px;
    border-radius: 20px;
    color: #ffb700;

}

button:hover {
    background-color: #ffb700;
    color: #000000;
    cursor: pointer;
    transition: .5s ease-in-out;
    transform: scale(1.05);
 }

 /* MOBILE */
 @media (max-width:600px) {
    h1 {
        font-size: 3rem;
    }
    body {
        background-position: top;
        background-size: 100% 200%;
    }
    button {
        display: block;
        margin: auto;
        padding: .7rem 2rem;
        margin-top: 2rem;
    
        font-family: 'Teko';
        font-size: 2rem;
        font-weight: 900;
        
        background-color: #fff;
        border: 0px;
        border-radius: 20px;
        color: #ffb700;
    
    }

    
}

 /* DESKTOP */
@media (min-width:600px) {
  h1 {
    margin-top: 30rem;
  }

}