@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

body { 
    margin: 1rem 0 0 1rem;
}

.banner {
    background-image: url('http://carlosestefan.com/ctd/img/banner.jpg');
    background-size: cover;
    width: 37.5rem;
    height: 6.25rem;
    border: 0.125rem solid tomato;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem;
}

.banner:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Sigmar One', cursive;
    font-size: 2.3rem;
    font-weight: 700;
    color: tomato;
    line-height: 2.3rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-family: 'Oswald';
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    line-height: 1.3rem;
    margin-block-start: 0;
    margin-block-end: 0;

}

